<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">
    <div class="racket-description">
        <h2 class="racket-name">Name: {{ racket.title }}</h2>
        <h2 class="racket-branc">Brand: {{ racket.brand.brand }}</h2>
        <table class="styled-table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Measure</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
            </thead>

            <tbody>
            {% for availables in availability %}
            <tr>
                <td>{{availables.type.type}}</td>
                <td>{{availables.measure}}</td>
                <td>{{availables.price}}</td>
                <td>{{availables.stock}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'get_rackets' %}" class="turn-back">Go back
    </a>
</div>
</body>
</html>